{% extends "admin/change_list.html" %} {% load i18n %} {% block object-tools-items %}{{ block.super }} {% load i18n %} {% load static %}

<li>
    <a href="{% url 'namp:exportar_frequencia_excel'%}" class="historylink">    
        {% trans 'Baixar Frequencia Excel' %}
    </a>
</li>

<li>
    <a href="{% url 'namp:exportar_noturno_excel'%}" class="historylink">    
        {% trans 'Adicional Noturno Excel' %}
    </a>
</li>

<li>
    <a href="{% url 'namp:exportar_jornadas_excel' %}" class="historylink">    
        {% trans 'Baixar Jornadas Excel' %}
    </a>
</li>

{% endblock %}