{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
{% endblock %}

{% block branding %}
 	<a href="{% url 'namp:home' %}">
	<img style="float: left;" src="{% static 'images/logoppto.png' %}" alt="logo" width="45" height="50">
	<h1>Núcleo de Apoio e Movimentação de Pessoal</h1></a>
{% endblock %}

{%block usertools %}
	<div id="user-tools">
		{% block welcome-msg %}
		    {% trans 'Welcome,' %}
		    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
		{% endblock %}

		{% block userlinks %}
			<a href="{% url 'namp:home' %}">{% trans 'Ver o site' %}</a> /
		    {% url 'django-admindocs-docroot' as docsroot %}
		    {% if docsroot %}
		        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
		    {% endif %}
		    {% if user.has_usable_password %}
		    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
		    {% endif %}
		    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
		{% endblock %}
	</div>
{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'namp:home' %}">{% translate 'Home' %}</a>
	</div>
{% endblock %}



{% block content %}
<div class="content">
	<div class="container-fluid">
	    <div class="row">
	    	<a class="card-text" href="admin/namp/servidor">
		        <div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">Servidores</h5>
				    <p class="card-text">Página de gerenciamento de servidores.</p>
				  </div>
				</div>
			</a>
	    </div>

	    <div class="row">
	    	<a class="card-text" href="admin/namp/equipe">
		        <div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">Equipes</h5>
				    <p class="card-text">Página de gerenciamento de equipes.</p>
				  </div>
				</div>
			</a>
	    </div>

	    <div class="row">
	    	<a class="card-text" href="jornadas/">
		        <div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Jornadas</h5>
						<p class="card-text">Página de gerenciamento de jornadas.</p>
					</div>
				</div>
			</a>
	    </div>
	</div>
</div>
{% endblock %}