{% extends 'admin/login.html' %}
{% load i18n static %}

{% block title %}Cadastro{% endblock %}

{% block content %}
  <h2>Cadastre-se para iniciar!</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="row">
        <div class="col-md-2">
          {{ field.label_tag }}
          
        </div>
        <div class="col-md-10 pull-left">
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </div>
        {% if field.help_text %}
        <div class="col-md-10 pull-left">        
          <small style="color: grey">{{ field.help_text }}</small>
        </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="submit-row">
		<input type="submit" value="{% translate 'Cadastrar' %}">
    </div>
    <div class="submit-row">
      <p><a href="{% url 'autenticacao:login' %}">Já sou cadastrado</a></p>
    </div>
  </form>
{% endblock %}