{% extends 'admin/login.html' %}
{% load i18n static %}

{% block title %}Login{% endblock %}

{% block branding %}
 	<a href="{% url 'autenticacao:login' %}">
	<img style="float: left;" src="{% static 'images/logoppto.png' %}" alt="logo" width="45" height="50">
	</a>
	<h1>Núcleo de Apoio e Movimentação de Pessoal</h1>
{% endblock %}

{% block content %}
<div class="container">
  	<h2>Confime suas credenciais de acesso.</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <div class="submit-row">
			<input type="submit" value="{% translate 'Entrar' %}">
	    </div>
		<div class="submit-row">
			<p><a href="#">Esqueci a minha senha</a></p>
			<p><a href="{% url 'autenticacao:cadastro' %}">Ainda não possuo cadastro</a></p>
		</div>
	</form>
</div>
{% endblock %}