<!-- web/templates/admin/web/emailsubscriber/change_list.html -->

{% extends "admin/change_list.html" %} {% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const ctx = document.getElementById('regioesChart').getContext('2d');
        const regioes = {{ regioes | safe }};
        const setores = {{ setores | safe }};

        var regioesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: regioes,
                datasets: [{
                    label: 'Setores',
                    data: setores,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255,99,132,1)'

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                    }]
                }
            }
        });
    });
</script>
{% endblock %} 

{% block content %}

<!-- Render our chart -->
<div style="margin-bottom: 50px">
    <canvas id="regioesChart" style="max-height:300px;max-width:600px;"></canvas>
</div>

<!-- Render the rest of the ChangeList view by calling block.super -->
{{ block.super }} {% endblock %}
