{% extends 'base.html' %} {% load i18n static %} {% load static %} {% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


{% endblock %} {% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/gerarjornadasetor.css' %}"> {% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'namp:home' %}">
        {% translate 'Home' %}
    </a> &rsaquo; {% translate 'Servidores' %}
</div>
{% endblock %} {% endblock %} {% block content %}

<div class="content">
    <h4 class="text-center">NOME DO SETOR</h4>
    <h5 class="text-center">{{ setor.nome }}</h5>
</div>

<div class="content">
    <div class="boxServ">
        <h6>Lista de Servidores</h6>
        <table class="table table-bordered text-center table-overflow">
            <thead>
                <tr>
                    <th scope="col">DADOS PESSOAIS: </th>
                    <th scope="col">DADOS FUNCIONAIS:</th>
                    <th scope="col">ENDEREÇO E CONTATO:</th>
                </tr>
            </thead>

            <form action="{% url 'namp:servidores_operador' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div>
                        {{ field.label}} {{ field }}
                    </div>
                </div>

                <div class="form-row field-nome">
                    <div>
                        <label>Nome: </label> {{ ServidorFormAdmin.nome }}
                    </div>
                </div>

                <div class="form-row field-cpf">
                    <div>
                        <label>CPF: </label> {{ ServidorFormAdmin.cpf }}
                    </div>
                </div>

                <div class="form-row field-sexo">
                    <div>
                        <label>Sexo: </label> {{ ServidorForm.sexo }}
                    </div>
                </div>

                <div class="form-row field-data_nasc">
                    <div>
                        <label>Data Nascimento: </label> {{ ServidorForm.data_nasc }}
                    </div>
                </div>


                <div class="submit-row">
                    <input type="submit" value="{% translate 'Adicionar' %}">
                    <input type="button" value="{% translate 'Voltar' %}" onclick="goBack()">
                </div>

            </form>
    </div>
</div>
{% endblock %}