{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'css/gerarjornadasetor.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
{% endblock %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script type="text/javascript">
  $(function () {
    // inspect html to check id of category select dropdown.
    $(document).on("focus", "select#id_equipe_plantao24", function () {
      $.getJSON("/getEquipes24h/", { id_setor: '{{ setor.id_setor }}' }, function (j) {
        var options = '<option value="">---------</option>';
        for (var i = 0; i < j.length; i++) {
          options +=
            '<option value="' + j[i].id_equipe + '">' + j[i].nome + "</option>";
        }
        // inspect html to check id of subcategory select dropdown.
        $("select#id_equipe_plantao24").html(options);
      });
    });
  });
</script>

<script>
  $(document).ready(function() {
      $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd' ,
        minDate: 0,
      });
  });
</script>

{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="{% url 'namp:home' %}">{% translate 'Home' %}</a>
  &rsaquo; {% translate 'Jornadas' %}
  </div>
{% endblock %}

{% block content %}
<div class="content">    
    <h4 class="text-center">Gerar Escala Regular - Mês 05/2021</h4>
    <h5 class="text-center">{{ setor.nome }}</h5>
</div>

<div class="content">
  <div class="boxJorExp">
    <h6>Equipes em Jornada de Expediente</h6>
    <table class="table table-bordered text-center table-overflow">
      <thead>
        <tr>
          <th scope="col">EQUIPE: </th>
          <th scope="col">QTDE DE SERVIDORES:</th>
          <th scope="col">TIPO DE JORNADA:</th>
        </tr>
      </thead>
      <tbody>
        {% for equipe in equipes %}
        <tr>
          {% if equipe.categoria == "Expediente" %}
            <td><a href="#">{{equipe.nome}}</a></td>
            <td>{{equipe.get_servidores}}</td>
            <td>{{ equipe.fk_tipo_jornada.tipificacao }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br><br>

  <div class="boxJorExp">
    <h6>Equipes em Jornada de Plantão</h6>
    <table class="table table-bordered text-center table-overflow">
      <thead>
        <tr>
          <th scope="col">EQUIPE: </th>
          <th scope="col">QTDE DE SERVIDORES:</th>
          <th scope="col">TIPO DE JORNADA:</th>
        </tr>
      </thead>
      <tbody>
        {% for equipe in equipes %}
        <tr>
          {% if equipe.categoria == "Plantão" %}
            <td><a href="#">{{equipe.nome}}</a></td>
            <td>{{equipe.get_servidores}}</td>
            <td>{{equipe.fk_tipo_jornada.tipificacao}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br><br>
  
  <div class="boxJorExp">
    <table class="table table-bordered text-center table-overflow">
      <thead>
        <tr>
          <th scope="col">DEFINIÇÕES FINAIS DA ESCALA REGULAR</th>
        </tr>
      </thead>
    </table>
    <br>
    <div class="formPlantao">
      <div class="row g-3 align-items-center">
        <div class="col-md-12 row">
          <div class="col-md-12">
            <form method="post" action="{% url 'namp:jornadas_operador' %}">
            {% csrf_token %}
              {% for field in form %}
                <p>
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
              <div class="submit-row" align="right">
                <input type="submit" value="{% translate 'Gerar Escalas' %}">
              </div>
            </form>
          </div>
          
          <div class="col-md-12">
            <span class="form-text text-right">
              Equipe que encerrará o mês 04/2021: Plantão Delta.
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}