
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<!--<li class="nav-item pcoded-menu-caption">
						<label>Navegação</label>
					</li>-->
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Gestão</label>
					</li>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Relatórios</span></a>
						<ul class="pcoded-submenu">
							<li><a href="{% url 'namp:admin_afastamento'%}">Afastamentos</a></li>
							<li><a href="{% url 'namp:admin_servidor'%}">Movimentação de Servidores</a></li>
							<li><a href="{% url 'namp:admin_unidades'%}">Unidades</a></li>
							<li><a href="{% url 'namp:admin_historico'%}">Históricos</a></li>
							<li><a href="{% url 'namp:admin_add_noturno'%}">Add Noturno</a></li>
						</ul>
					</li>

					<li class="nav-item">
					    <a href="{% url 'namp:admin_unidades'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Unidades</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'namp:admin_servidores'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Servidores</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'namp:admin_escalas_frequencias'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Escalas/Frequencias</span></a>
					</li>
							<!-- <li><a href="/bc_alert.html">Alert</a></li>
							<li><a href="/bc_button.html">Button</a></li>
							<li><a href="/bc_badges.html">Badges</a></li>
							<li><a href="/bc_breadcrumb-pagination.html">Pagination</a></li>
							<li><a href="/bc_card.html">Cards</a></li>
							<li><a href="/bc_collapse.html">Collapse</a></li>
							<li><a href="/bc_carousel.html">Carousel</a></li>
							<li><a href="/bc_grid.html">Grid system</a></li>
							<li><a href="/bc_progress.html">Progress</a></li>
							<li><a href="/bc_modal.html">Modal</a></li>
							<li><a href="/bc_spinner.html">Spinner</a></li>
							<li><a href="/bc_tabs.html">Tabs & pills</a></li>
							<li><a href="/bc_typography.html">Typography</a></li>
							<li><a href="/bc_tooltip-popover.html">Tooltip & popovers</a></li>
							<li><a href="/bc_toasts.html">Toasts</a></li>
							<li><a href="/bc_extra.html">Other</a></li>-->

					<li class="nav-item pcoded-menu-caption">
						<label>Setor</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Minha Unidade</span></a>
						<ul class="pcoded-submenu">
							<li><a href="{% url 'namp:equipe_criar'%}">Criar Equipe</a></li>
							<li><a href="{% url 'namp:equipe_list' %}">Listar Equipe</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Servidores</span></a>
						<ul class="pcoded-submenu">
							<li><a href="{% url 'namp:servidor_mov'%}">Mov. de Servidores</a></li>
							<li><a href="{% url 'namp:servidor_list'%}">Listar Servidores</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Períodos</span></a>
						<ul class="pcoded-submenu">
							<li><a href="{% url 'namp:escala_operador_list'%}">Definir Escala</a></li>
							<li><a href="{% url 'namp:frequencia_operador_list'%}">Definir Frequência</a></li>
						</ul>
					</li>
					<li class="nav-item">
					    <a href="{% url 'namp:operador_afastamentos'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Lançar Afastamentos</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>Servidor</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Atualizar</span></a>
						<ul class="pcoded-submenu">
							<li><a href="#">Dados Pessoais</a></li>
							<li><a href="{% url 'namp:servidor_escala'%}l">Ver escala</a></li>
							<li><a href="{% url 'namp:servidor_hist'%}">Ver Histórico</a></li>
						</ul>
					</li>


					<!--
					<li class="nav-item pcoded-menu-caption">
					    <label>Forms &amp; table</label>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
					</li>
					<li class="nav-item">
					    <a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap table</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Chart & Maps</label>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>-->

					<!--
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html">Sign up (template)</a></li>
					        <li><a href="/auth-signin.html">Sign in (template)</a></li>
					    </ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

					<li class="nav-item pcoded-menu-caption">
						<label>Action zone</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>-->
					<li class="nav-item">
					    <a target="_blank" rel="noopener" href="https://appseed.us/support" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Support</span></a>
					</li>

				</ul>
				</div>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
