{% extends 'base.html' %} {% load i18n static %} {% load static %} {% block extrahead %}{{ block.super }}
<scrip src="{% url 'admin:jsi18n' %}">
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    {% endblock %} {% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous"> {% endblock %} {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'namp:home' %}">
    {% translate 'Home' %}
    </a> &rsaquo; {% translate 'Afastamentos' %}
    </div>
    {% endblock %} {% block content %}
    <div class="content">
        <div>
            <h5 class="text-center">{{ servidor.fk_setor }}</h5>
        </div>

        <h4>Selecione Afastamento para modificar</h4>

        {% block object-tools %}
        <ul class="object-tools">
            {% block object-tools-items %}
            <li>
                <a href="{% url 'namp:afastamento' %}" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Adicionar Afastamento {{ name }}{% endblocktrans %}
        </a>
            </li>
            {% endblock %}
        </ul>
        {% endblock %}
        <div id="toolbar">
            <form method="POST" action="{% url 'namp:afastamento_change_list' %}">{% csrf_token %}
                <div>
                    {{ form.servidor }}
                    <input type="submit" value="Pesquisar" style="padding: 4px 8px;">
                    <a href="{% url 'namp:afastamento_change_list' %}">ver todos</a>
                </div>
            </form>
        </div><br>
        <div class="results" style="overflow-x:auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="text">
                                <a href="#">SERVIDOR</a>
                            </div>
                        </th>
                        <th>
                            <div class="text">
                                <a href="#">DATA INICIAL</a>
                            </div>
                        </th>
                        <th>
                            <div class="text">
                                <a href="#">DATA FINAL</a>
                            </div>
                        </th>
                        <th>
                            <div class="text">
                                <a href="#">AFASTAMENTO</a>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for afastamento in page_obj %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td> <a href="#">{{afastamento.fk_servidor}}</a></td>
                        
                        <td> {{afastamento.data_inicial }} </td>
                        <td> {{afastamento.data_final  }} </td>
                        <td> {{afastamento.fk_afastamento }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination justify-content-center">
                <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>          
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Pág {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span> {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a> {% endif %}
                </span>
            </div>

        </div>
    </div>
    {% endblock %}