<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<a href="{% url 'namp:jornadas_operador' %}">Escala Regular</a>

<script>
	$(document).addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
		  timeZone: 'UTC',
		  headerToolbar: {
			left: 'prev,next today',
			center: 'title',
			right: 'dayGridMonth,timeGridWeek,timeGridDay'
		  },
		  editable: true,
		  dayMaxEvents: true, // when too many events in a day, show the popover
		  events: 'https://fullcalendar.io/demo-events.json?overload-day'
		});
		calendar.render();
	});
</script>
{% endblock%}