<html>

<head>
    <title>{{ obj.title }}</title>
    <style>
        body {
            background-color: #f7f7f7;
        }
        
        p {
            text-align: justify;
            text-justify: inter-word;
        }
        
        .text-right {
            text-align: right;
        }
    </style>
</head>

<body>
    {% if jornadas %} {% for jornada in jornadas %}
    <h3>Nome: {{ jornada.fk_servidor.nome }}
        <b>Matricula:</b> {{ jordana.fk_servidor.id_matricula }}
        <b>Vínculo:</b> {{ jornada.fk_servidor.vinculo }} </h1>

        <b>CPF:</b> {{ jornada.fk_servidor.cpf }}
        <b>Data inicio:</b> {{ jornada.data_jornada|date:'d-m-Y'}}
        <b>Data fim:</b> {{ jornada.get_fim|date:'d-m-Y'}}
        <b>Carga Horária:</b> {{ jornada.fk_tipo_jornada.carga_horaria}}
        <br><b class="text-justify">-----------------------------------------------------------------------------------</b> {% endfor %} {% else %}
        <h1 class="text-right">Nenhuma jornada cadastrado!</h1>
        {% endif%}
</body>

</html>