{% extends "layouts/base.html" %} {% load i18n static %} {% load static %} 

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mt-5">Adicionar Equipe</h5>
                        <hr>
                        <form action="{% url 'namp:equipe_criar' %}" method="post">
                            {% csrf_token %}
                            <h6>Configurações</h6>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputNome">Nome</label>
                                    <input type="text" class="form-control" placeholder="Digite o nome da equipe" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="selectCategoria">Categoria</label>
                                    <select class="form-control" id="selectCategoria" required>
                                        <option value="">---------</option>
                                        <option value="Expediente">Expediente</option>
                                        <option value="Plantão">Palntão</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="selectTipoJornada">Jornada</label>
                                    <select class="form-control" id="selectTipoJornada" required>
                                        {% for tipo_jornada in form.fk_tipo_jornada %}
                                            <option value="{{tipo_jornada}}">{{ jornada.tipificacao }}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputHoraInicial">Hora Inicial</label>
                                    <input type="time" id="inputHoraInicial" min="09:00" max="18:00" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkStatus">
                                        {% if form.status.is_checked %}
                                            <label class="form-check-label" for="checkStatus">Equipe Ativa</label>
                                        {% else %}
                                            <label class="form-check-label" for="checkStatus">Ativar Equipe</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                                    
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputSetor">Setor</label>
                                    <select class="form-control" id="inputSetor" disabled>
                                        {% for setor in form.fk_setor %}
                                            <option value="{{setor}}">{{ setor.nome }}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>

                            <hr>
                            <button type="submit" class="btn  btn-dark">Salvar</button>
                        </form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
