{% extends 'base.html' %}
{% load i18n static %}
{% load static %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="{% url 'namp:home' %}">{% translate 'Home' %}</a>
  &rsaquo; {% translate 'Equipes' %}
  </div>
{% endblock %}

{% block content %}
<div class="content">
  <div id="content" class="colM">
    <h1>{% translate 'Adicionar Equipe' %}</h1>
    
    <form action="{% url 'namp:equipes_operador' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
              <div>
                {{ field.label}}
                {{ field }}
              </div>
            </div>
        {% endfor%}

        <div class="submit-row">
          <input type="submit" value="{% translate 'Adicionar' %}">
          <input type="button" value="{% translate 'Voltar' %}" onclick="goBack()">
        </div>
        
    </form>
  </div>
</div>
{% endblock %}